@media screen 
    and (max-device-width: 1200px)
    and (max-device-height: 2600px) {
        html, body {
            font-size: 45px;
        }
}

@media screen 
    and (max-device-width: 800px)
    and (max-device-height: 1100px) {
        html, body {
            font-size: 35px;
        }
        .row {
            margin: 0 7%;
        }
        .company-desc {
            font-weight: 400;
        }
        .section-welcome {
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/logo_section_welcome2.jpg");
        }
}
