@media screen 
    and (max-device-width: 1200px)
    and (max-device-height: 2600px) {
        html, body {
            font-size: 45px;
        }
}

@media screen 
    and (max-device-width: 800px)
    and (max-device-height: 1100px) {
        html, body {
            font-size: 35px;
        }
        .btn,
        .btn-invert {
            font-size: 125%;
        }
        .row {
            margin: 0 7%;
        }
        .row-narrow {
            margin: 0 3%;
        }
        .text {
            font-size: 100%;
        }
        .quote-1 {
            width: 100%;
            top: 400px;
            left: 0%;
            right: 0%;
            transform: translate(0, -50%);
            text-align: center;
        }
        .quote-1 div:first-child {
            font-size: 100%;
        }
        .quote-1 div:last-child {
            font-size: 150%;
        }
        .company-desc,
        .blockquote {
            font-weight: bold;
            font-size: 125%;
        }
        .blockquote {
            z-index: 2;
        }
        .section-welcome {
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/logo_section_welcome2.jpg");
        }
        .desk-of-md-float-media {
            float: none;
            width: 100%;
        }
        .project-text {
            font-size: 110%;
        }
        .section-desk-of-md {
            padding-left: 7%;
            padding-right: 7%;
        }
        .md-say:before {
            top: -60px;
            z-index: 1;
        }
        .section-quote {
            padding: 120px 7%;
        }
        .box-news {
            padding-top: 1.5%;
            padding-bottom: 1.5%;
        }
}
